---
import { getCollection } from 'astro:content';
import Project from '../../components/Project.astro';
import BaseBlog from "../../layouts/BaseBlog.astro";

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
// const allPosts = await getCollection("blog");

const tags = [...new Set(posts.map((post) => post.data.tags).flat())];


---

<BaseBlog>
	<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-full gap-10 max-h-min">
		{
			posts.map((post) => (
				<li class="w-full">
					<a href={`/blog/${post.slug}/`}>
					<Project ProjectIllu={post.data.heroImage} Title={post.data.title} Description={post.data.description}/>
					</a>
				</li>
			))
		}
	</ul>
</BaseBlog>
