---
import Button from "../components/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="font-cormorantInfant lg:text-4xl">À propos</h1>

  <section class="flex flex-col lg:flex-row items-center gap-10">
    <div class="flex flex-col items-center w-full gap-3.5">
      <img class="max-w-72" src="/moe.svg" alt="Portrait simplifié" />
      <ul class="flex gap-8">
        <li><img src="logo_behance.svg" alt="Logo Behance" /></li>
        <li><img src="logo_linkedin.svg" alt="Logo LinkedIn" /></li>
        <li><img src="logo_instagram.svg" alt="Logo Instagram" /></li>
      </ul>
    </div>
    <div class="flex flex-col items-start w-full gap-10">
      <p>
        Étudiante en design graphique passionnée par la création. À travers mes
        projets, j’explore diverses facettes du design, de l'identité visuelle
        aux supports numériques, en cherchant toujours à allier créativité et
        efficacité. Ce portfolio reflète mes expériences et mon évolution en
        tant que future professionnelle. N’hésitez pas à me contacter pour
        échanger sur vos idées et projets.
      </p>
      <Button
        Link="mailto:carolane.noel@outlook.com"
        Placeholder="carolane.noel@outlook.com"
      />
    </div>
    <div class="bg-secondaryNeutral rounded-3xl px-8 py-9">
      <p class="text-clrWhite">
        Passionnée par le fantastique, la fiction, le dessin les jeux vidéo,
        j’aime inventer des univers imaginaires où se mêlent aventures épiques,
        créatures sunraturelles et récits oniriques. Découvrez un aperçu de mon
        univers créatif à travers ce portfolio.
      </p>
    </div>
  </section>
</BaseLayout>

<style>
  footer {
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
  }
  .social-links a:hover {
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.4em;
    height: 2em;
    width: 2em;
    background-color: var(--primary-neutral);
    border-radius: 4px;
    cursor: pointer;
  }
</style>
