---
import SkillCardCarousel from "../components/SkillCardsCarousel.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Button from "../components/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const latestPosts = posts.slice(0, 3);
---

<BaseLayout>
  <section
    class="fixed z-0 flex flex-col w-full h-screen bg-intro bg-cover"
  >
    <section class=" flex flex-col w-full items-center gap-11 px-5 lg:px-16">
      <div class="flex flex-col items-center gap-2.5">
        <img src="/logo-icon-primary.svg" alt="Logo" />
        <img src="/star-icon-red.svg" alt="Étoile" />
      </div>
    </section>
  </section>

  <section class="relative z-40 flex flex-col w-full gap-20 py-8 mt-[40rem] rounded-t-3xl bg-clrWhite">

    <section class="flex flex-wrap w-full items-center gap-1 px-8 md:py-8 md:px-32 md:text-lg lg:text-2xl">
      <div class="flex items-center h-9 md:h-16">Passionnée </div>
      <div class="flex items-center h-9 md:h-16">par le</div>
      <div class="flex items-center h-9 md:h-16">fantastique</div>
      <div class="w-10 md:w-20 mx-1 md:mx-3"><img src="/fantasy.svg" alt="Fantasy"></div>
      <div class="flex items-center h-9 md:h-16">la fiction,</div>
      <div class="flex items-center h-9 md:h-16">le dessin,</div>
      <div class="flex items-center h-9 md:h-16">les jeux-vidéos,</div>
      <div class="flex items-center h-9 md:h-16">j'invente</div>
      <div class="flex items-center h-9 md:h-16">des univers</div>
      <div class="flex items-center h-9 md:h-16">imaginaires</div>
      <div class="flex items-center h-9 md:h-16">par le</div>
      <div class="w-10 md:w-20 mx-1 md:mx-3"><img src="/fiction.svg" alt="Fiction"></div>
      <div class="flex items-center h-9 md:h-16">où se mêlent</div>
      <div class="flex items-center h-9 md:h-16">aventures épiques</div>
      <div class="flex items-center h-9 md:h-16">par le</div>
      <div class="w-10 md:w-20 mx-1 md:mx-3"><img src="/gaming.svg" alt="Gaming"></div>
      <div class="flex items-center h-9 md:h-16">et récits oniriques.</div>
      <div class="flex items-center h-9 md:h-16">Découvez</div>
      <div class="flex items-center h-9 md:h-16">un aperçu de</div>
      <div class="flex items-center h-9 md:h-16">mon univers créatif</div>
      <div class="flex items-center h-9 md:h-16">à travers</div>
      <div class="flex items-center h-9 md:h-16">ce portfolio.</div>
      <div class="w-10 md:w-20 mx-1 md:mx-3"><img src="/art.svg" alt="Art"></div>
      </div>
    </section>

    <section class="z-50 flex flex-col w-full items-center gap-5 lg:gap-7 px-5 lg:px-16">
      <div class="flex flex-col gap-1 w-full">
        <h2 class="font-cormorantInfant md:text-5xl">Derniers projets réalisés</h2>
      </div>
      <ul
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-full justify-start gap-9 max-h-min"
      >
        {
          latestPosts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <ProjectCard
                  ProjectIllu={post.data.heroImage}
                  Title={post.data.title}
                />
              </a>
            </li>
          ))
        }
      </ul>
      <Button Link="/blog" Placeholder="Voir plus ┏ (゜ω゜)=👉" />
    </section>

    
  </section>
</BaseLayout>