---
const { Link } = Astro.props
const {Placeholder} = Astro.props
---

<a href={Link} class="button flex justify-center items-center rounded-lg px-7 py-3 text-white">
    {Placeholder}
</a>


<style>
    .button {
        background-color: var(--primary-neutral);
    }
    .button:hover {
        background-color: var(--primary-dark);
        cursor: pointer;
    }
    .button:focus {
        background-color: var(--primary-light);
        color: var(--primary-dark);
    }
</style>