---
const today = new Date();
---

<footer class="relative w-full z-50 flex flex-col items-start gap-5 bg-clrWhite">
	<div class="w-full px-5 mt-24 md:mt-52 lg:mt-32">
		<section class="relative flex flex-col items-start justify-end md:justify-center w-full h-64 md:h-auto gap-2.5 rounded-2xl px-8 py-9 bg-secondaryNeutral">
			

			<section class="flex flex-col justify-end h-full gap-2 lg:gap-14">
				<p class="text-clrWhite lg:text-3xl">On se contacte ?</p>
				<div class="flex flex-col gap-2">
					<a class="text-base text-clrWhite" href="mailto:carolane.noel@outlook.com">carolane.noel@outlook.com</a>
					<ul class="flex gap-8">
						<li><a href="https://www.behance.net/carolanenoel1"><img src="/src/assets/logo_behance.svg" alt="Logo Behance"/></a></li>
						<li><a href="https://www.linkedin.com/in/carolane-noel-062000265/"><img src="/src/assets/logo_linkedin.svg" alt="Logo LinkedIn"/></a></li>
						<li><a href="https://www.instagram.com/ti.ra_mizu/"><img src="/src/assets/logo_instagram.svg" alt="Logo Instagram"></a></li>
					</ul>
				</div>
			</section>
			
		</section>
	</div>
	
	<section class="relative w-full">
		<img src="/src/assets/footer-illu.png" alt="Illustration footer">
		<div class="absolute w-full bottom-2 text-base text-center text-clrWhite">
			&copy; {today.getFullYear()} Carolane. Tous droits réservés.
		</div>
	</section>
	
</footer>
<style>
	footer {
		
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		
	}
	.social-links a:hover {
		
	}

	li {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 0.4em;
		height: 2em;
		width: 2em;
		background-color: var(--primary-neutral);
		border-radius: 4px;
	}
	li:hover {
        cursor: url('../assets/star-icon-hover.svg'), auto;
		background-color: var(--primary-dark);
    }
</style>
