---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

import RoundButton from './RoundButton.astro';
---

<header class="fixed top-0 left-0 w-full bg-clrWhite z-50">
	<nav class="container mx-auto flex items-center justify-between p-4">
	  <!-- Logo -->
	  <a href="/">
		<img src="/logo-icon.svg" class="w-16" alt="Logo">
	  </a>
  
	  <!-- Navigation Links -->
	  <ul class="hidden md:flex space-x-6">
		<li><HeaderLink href="/">Home</HeaderLink></li>
		<li><HeaderLink href="/blog">Projets</HeaderLink></li>
		<li><HeaderLink href="/about">About</HeaderLink></li>
	  </ul>
  
	  <!-- Mobile Menu Button -->
	  <button id="menu-toggle" class="md:hidden focus:outline-none">
		<img src="/menu-icon.svg" alt="">
	  </button>
	</nav>
  
	<!-- Mobile Menu -->
	<ul id="mobile-menu" class="hidden md:hidden flex flex-col space-y-4 bg-gray-100 p-4">
		<li><HeaderLink href="/">Home</HeaderLink></li>
		<li><HeaderLink href="/blog">Projets</HeaderLink></li>
		<li><HeaderLink href="/about">About</HeaderLink></li>
	</ul>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1.25em;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		color: var(--primary-neutral);
	}
	nav a:hover {
		color: var(--primary-dark);
	}
	nav a:focus {
		color: var(--primary-light);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
	.internal-links {
		font-family: 'Cormorant Infant', serif;
	}

</style>

<script>
const menuToggle = document.getElementById('menu-toggle');
const mobileMenu = document.getElementById('mobile-menu');

// Vérifiez l'existence des éléments avant d'ajouter des événements
if (menuToggle && mobileMenu) {
  // Fonction pour basculer la visibilité du menu
  const toggleMenu = () => {
    mobileMenu.classList.toggle('hidden'); // Affiche/masque le menu
	console.log('Menu visible:', !mobileMenu.classList.contains('hidden'));
  };

  // Écouteur pour ouvrir/fermer le menu via le bouton burger
  menuToggle.addEventListener('click', toggleMenu);

  // Écouteurs sur les liens du menu pour fermer le menu après un clic
  const menuLinks = mobileMenu.querySelectorAll('a');
  menuLinks.forEach(link => {
    link.addEventListener('click', () => {
      if (!mobileMenu.classList.contains('hidden')) {
        mobileMenu.classList.add('hidden'); // Cache le menu
      }
    });
  });
}


</script>
