---

---

<section
    class="fixed z-0 flex flex-col w-full h-screen bg-intro bg-cover"
  >
    <section class=" flex flex-col w-full items-center gap-11 px-5 lg:px-16">
      <div class="flex flex-col items-center gap-2.5">
        <img src="/logo-icon-white.svg" alt="Logo" />
        <img src="/star-icon-white.svg" alt="Étoile" />
      </div>
    </section>
  </section>