---
const { ProjectIllu } = Astro.props
const { Title } = Astro.props
const { Description } = Astro.props
// voir pour ajouter tags
---

    <article class="flex flex-col items-start w-full gap-5 pb-5 rounded-lg">

        <img class="rounded-lg" src={ProjectIllu} alt={Title}>
        <h3 class="font-cormorantInfant text-start">{Title}</h3>
        <p class="text-start">{Description}</p>
    
    </article>

