---
const { ProjectIllu } = Astro.props
const { Title } = Astro.props
---

<article class="transition ease-in-out duration-300 skill-card flex flex-col gap-5 pb-5 rounded-lg hover:rotate-6 hover:scale-110 max-w-72 hover:border-2 hover:border-primaryNeutral hover:shadow">

    <img class="h-36 object-cover rounded-t-lg" src={ProjectIllu} alt={Title}>
    <section class="px-5 "><h3>{Title}</h3></section>

</article>

