---
import ProjectCard from "./ProjectCard.astro"
---

<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-full justify-start gap-9 max-h-min">
    <li><ProjectCard ProjectIllu="/src/assets/footer-illu.png" Title="The Beaver & his Pancakes"></ProjectCard></li>
    <li><ProjectCard ProjectIllu="/src/assets/footer-illu.png" Title="The Beaver & his Pancakes"></ProjectCard></li>
    <li><ProjectCard ProjectIllu="/src/assets/footer-illu.png" Title="The Beaver & his Pancakes"></ProjectCard></li>
    <li><ProjectCard ProjectIllu="/src/assets/footer-illu.png" Title="The Beaver & his Pancakes"></ProjectCard></li>
</ul>
