---
const { ProjectIllu } = Astro.props
const { Title } = Astro.props
const { Description } = Astro.props
// voir pour ajouter tags
---

<article class="flex flex-col items-start w-full gap-5 rounded-lg">

    <img class="rounded-lg w-full" src={ProjectIllu} alt={Title}>
    <h3 class="w-full font-cormorantInfant text-start">{Title}</h3>
    <p class="w-full text-start">{Description}</p>

</article>

