---
const { Link } = Astro.props
const { Icon } = Astro.props
---

<a class="cursor-pointer flex justify-center items-center w-12 h-12 rounded-full bg-primaryNeutral overflow-hidden relative group">
    <span class="absolute top-0 left-0 flex w-full h-0 mb-0 transition-all duration-200 ease-out transform translate-y-0 bg-primaryDark group-hover:h-full"></span>
    <span class="relative"><img src={Icon} alt=""></span>
</a>