---
const { SkillIllu } = Astro.props
const { SkillType } = Astro.props
---

<article class="skill-card flex flex-col gap-5 p-5 rounded-lg bg-clrGrayLight hover:rotate-6 hover:scale-110 hover:border-2 hover:border-primaryNeutral">

    <img class="max-w-40" src={SkillIllu} alt={SkillType}>
    <h3>{SkillType}</h3>

</article>
