---
import SkillCard from '../components/SkillCard.astro';
import RoundButton from '../components/RoundButton.astro';
---

<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-full justify-start gap-9 max-h-min transition-transform duration-300 ease-in-out cursor-grab" id="carousel-track">
    <li><SkillCard SkillIllu="/illustration.svg" SkillType="Illustrations"></SkillCard></li>
    <li><SkillCard SkillIllu="/uxui.svg" SkillType="UX/UI"></SkillCard></li>
    <li><SkillCard SkillIllu="/dev-web.svg" SkillType="Développement"></SkillCard></li>
    <li><SkillCard SkillIllu="/branding.svg" SkillType="Branding"></SkillCard></li>
    <li><SkillCard SkillIllu="/audiovisuel.svg" SkillType="Audiovisuel"></SkillCard></li>
    <li><SkillCard SkillIllu="/chara-design.svg" SkillType="Character Design"></SkillCard></li>
</ul>