---
import SkillCard from '../components/SkillCard.astro';
import RoundButton from '../components/RoundButton.astro';
// const response = await fetch('/skills.json');
// const skills = await response.json();
---

<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-full justify-start gap-9 max-h-min cursor-grab" id="carousel-track">
    <!-- {skills.map(skill => (
        <li><SkillCard SkillIllu={skill.image} SkillType={skill.title}></SkillCard></li>
      ))} -->
    <li class="cursor-star"><SkillCard SkillIllu="/illustration.svg" SkillType="Illustrations"></SkillCard></li>
    <li class="cursor-star"><SkillCard SkillIllu="/uxui.svg" SkillType="UX/UI"></SkillCard></li>
    <li class="cursor-star"><SkillCard SkillIllu="/dev-web.svg" SkillType="Développement"></SkillCard></li>
    <li class="cursor-star"><SkillCard SkillIllu="/branding.svg" SkillType="Branding"></SkillCard></li>
    <li class="cursor-star"><SkillCard SkillIllu="/audiovisuel.svg" SkillType="Audiovisuel"></SkillCard></li>
    <li class="cursor-star"><SkillCard SkillIllu="/chara-design.svg" SkillType="Character Design"></SkillCard></li>
</ul>
