---
const { Link } = Astro.props
const {Placeholder} = Astro.props
---

<a href={Link} class="capitalize relative inline-block px-3 rounded overflow-hidden group">
    <span class="absolute inset-0 w-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-primaryNeutral group-hover:-translate-x-0 group-hover:-translate-y-0"></span>
    <span class="absolute inset-0 w-full bg-primaryNeutral group-hover:bg-primaryDark"></span>
    <span class="relative text-base text-clrWhite group-hover:text-clrWhite">{Placeholder}</span>
</a>