---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from 'astro:content';
import RoundButton from "../components/RoundButton.astro";

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
// const allPosts = await getCollection("blog");

const tags = [...new Set(posts.map((post) => post.data.tags).flat())];


---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
		<style>
			main {
				width: 100%;
			}
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body class="flex flex-col gap-8">
		<div class="animate-bounce z-[100] fixed bottom-3 right-3"><RoundButton Link="#header" Icon="/src/assets/arrow.svg"></RoundButton></div>
		<Header />
		<main class="flex flex-col items-center w-full px-5 lg:px-16 gap-10 pt-32">
			<section class="flex flex-col items-start w-full">
				<h1 class="font-cormorantInfant lg:text-4xl">Découvrez des projets</h1>
				<p class="font-cormorantInfant text-lg">Réels ou fictifs</p>
			</section>

			<section class="w-full">
				<ul class="flex flex-col justify-center items-center gap-8 w-full lg:flex-row">
					<li><a class="border-2 border-black px-3 rounded" href="/blog">tout</a></li>
					{tags.map((tag) => (
					  <li>
						<a href={`/blog/${tag}`} class="border-2 border-black px-3 rounded">
							{tag}
						</a>
					  </li>
					))}
				  </ul>
			</section>

            <section>
                <slot/>
            </section>

			
		</main>
		<Footer />
	</body>
</html>
